<div class="kanban-board">
  @for (column of columns; track column.id) {
    <div class="kanban-column">
      <h3>{{ column.label }}</h3>
      <div
        class="kanban-tasks"
        cdkDropList
        [id]="column.id"
        [cdkDropListData]="column.tasks"
        [cdkDropListConnectedTo]="getColumnIds()"
        (cdkDropListDropped)="drop($event, column.id)">

        @for (task of column.tasks; track task.id) {
          <div class="task-card" cdkDrag>
            <p><strong>{{ task.name }}</strong></p>
            <p>{{ task.estimatedTime }}hs</p>
          </div>
        }

      </div>
    </div>
  }
</div>